<div class="project-item">
  <!-- Düzenle butonu sağ üstte -->
   <button
    *ngIf="editable"
    class="edit-btn"
    (click)="triggerEdit()"
    title="Düzenle"
  >✏️</button>

  <h3>{{ project.title }}</h3>
  <p class="description">{{ project.description }}</p>

  <div class="project-meta">
    <img *ngIf="project.imageUrl" [src]="'http://192.168.1.69:8080' + project.imageUrl" alt="Proje Görseli"
      class="project-thumb" />
    <div class="link-wrapper">
      <strong>{{ "Teknolojiler:" }}</strong>
      {{ project.technologies.join(', ') }}
    </div>
  </div>
</div>
