<h2>Yeni Proje Ekle</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>Başlık:</label>
  <input formControlName="title" type="text" required /><br />

  <label>Açıklama:</label>
  <textarea formControlName="description" required></textarea><br />

  <label>Teknolojiler (virgülle ayır):</label>
  <input formControlName="technologies" type="text" /><br />

  <label>Görsel:</label>
  <input type="file" (change)="onFileSelected($event)" required /><br />

  <button type="submit">Projeyi Kaydet</button>
</form>

<p *ngIf="message">{{ message }}</p>
